.movieListWrapper > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.movieListWrapper > h4 {
    color: #fff;
}

@media screen and (max-width: 767px) {
    .movieListWrapper > div {
        flex-direction: column;
    }
}