.detailWrapper{
    position: relative;
    width: 1024px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    color: #fff;
}

@media screen and (max-width: 1024px){
    .detailWrapper{
        max-width: 90%;
    }
}