.castWrapper {
    margin-top: 50px;
}

.castWrapper ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.castWrapper ul li {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.castWrapper ul li > div {
    border: 2px solid #fff;
    box-shadow: 0 0 20px -2px rgb(0 0 0 / 40%);
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.castWrapper ul li span {
    font-size: 13px;
}

.castWrapper ul li div img {
    min-height: 100%;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .castWrapper ul {
        justify-content: space-around;
        flex-wrap: wrap;
    }    

    .castWrapper ul li {
        margin-right: 0;
    }    
}

@media screen and (max-width: 768px){
    .castWrapper ul li {
        width: 33%;
    }
}

@media screen and (max-width: 375px){
    .castWrapper ul{
        justify-content: none;
    }
    
    .castWrapper ul li {
        width: 50%;
    }
}
