.navMenu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navMenu li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    display: block;
}

.navMenu li.activeItem {
    background-color: #ffffff;
    border-radius: 4px;
}

.navMenu li.activeItem a {
    color: #333;
}

@media screen and (max-width: 768px) {
    .navMenu li {
        display: none;
    }
    
    .navMenu li.showOnMobile {
        display: inline-block;
    }
}
