.searchBoxWrapper {
    margin-top: 2rem;
    position: relative;
}

.searchBoxWrapper input {
    border-radius: 4px;
    width: 100%;
    display: block;
    height: 50px;
    border: 0;
    outline: 0;
    box-shadow: none;
    padding: 0px 15px;
    font-size: 20px;
    box-sizing: border-box;
}

.searchInput {
    position: relative;
}

.searchInputLoading {
    position: relative;
}

.searchInputLoading:after {
    content: '...';
    position: absolute;
    z-index: 2;
}

.clearIcon {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 2;
    color: #fff;
    background: #a1a1a1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    box-sizing: border-box;
    font-size: 10px;
    cursor: pointer;
    transition: background ease 0.1s;
}

.clearIcon:hover {
    background: #333;
}

.spinner {
    position: absolute;
    right: 25px;
    top: 5px;
}